.mediaViewInfo {
	--web-view-name: accueil;
	--web-view-id: accueil;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: accueil;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
#accueil {
	position: absolute;
	width: 2300px;
	height: 2092px;
	background-color: rgba(237,237,237,1);
	overflow: hidden;
	--web-view-name: accueil;
	--web-view-id: accueil;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#NoPath_-_Copie {
	position: absolute;
	width: 209px;
	height: 177px;
	left: 1046px;
	top: 30px;
	overflow: visible;
}
#Rectangle_1 {
	fill: rgba(145,192,238,1);
}
.Rectangle_1 {
	filter: drop-shadow(6px 6px 10px rgba(145, 192, 238, 1));
	position: absolute;
	overflow: visible;
	width: 1888px;
	height: 138px;
	left: 221px;
	top: 270px;
}
#Bienvenue_sur_le_site_officieu {
	filter: drop-shadow(0px 3px 10px rgba(0, 0, 0, 0.341));
	left: 262px;
	top: 279px;
	position: absolute;
	overflow: visible;
	width: 1777px;
	white-space: nowrap;
	text-align: center;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 33px;
	color: rgba(112,112,112,1);
}
#Rectangle_3 {
	fill: rgba(255,255,255,1);
	stroke: rgba(112,112,112,1);
	stroke-width: 1px;
	stroke-linejoin: miter;
	stroke-linecap: butt;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Rectangle_3 {
	position: absolute;
	overflow: visible;
	width: 6px;
	height: 1px;
	left: 1367px;
	top: 613px;
}
#Image_1 {
	filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 550px;
	height: 550px;
	left: 1057px;
	top: 474px;
	overflow: visible;
}
#NoPath {
	filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 728px;
	height: 546px;
	left: 278px;
	top: 1075px;
	overflow: visible;
}
#il_sagit_dune_cole_prenant__en {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.161));
	left: 275px;
	top: 474px;
	position: absolute;
	overflow: visible;
	width: 732px;
	height: 572px;
	line-height: 95px;
	margin-top: -22.5px;
	text-align: center;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(147,205,221,1);
}
#Image_2 {
	filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 728px;
	height: 546px;
	left: 1137px;
	top: 1075px;
	overflow: visible;
}
#Image_3 {
	filter: drop-shadow(6px 6px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	width: 367px;
	height: 550px;
	left: 1681px;
	top: 474px;
	overflow: visible;
}
#Ellipse_1 {
	fill: rgba(237,237,237,1);
	stroke: rgba(255,251,0,1);
	stroke-width: 10px;
	stroke-linejoin: miter;
	stroke-linecap: square;
	stroke-miterlimit: 4;
	shape-rendering: auto;
}
.Ellipse_1 {
	filter: drop-shadow(3px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 421px;
	height: 421px;
	left: 356px;
	top: 1650px;
}
#Pour_en_savoir_plus_cliquer_su {
	filter: drop-shadow(0px 3px 6px rgba(249, 170, 170, 0.161));
	left: 416px;
	top: 1740.645px;
	position: absolute;
	overflow: auto;
	width: 284px;
	height: 289.71051025390625px;
	line-height: 40px;
	margin-top: -5px;
	text-align: center;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 30px;
	color: rgba(147,205,221,1);
}
#Rectangle_5 {
	fill: rgba(145,192,238,1);
}
.Rectangle_5 {
	filter: drop-shadow(6px 6px 6px rgba(145, 192, 238, 1));
	position: absolute;
	overflow: visible;
	width: 355px;
	height: 148px;
	left: 1057px;
	top: 1787px;
}
#Rectangle_6 {
	fill: rgba(145,192,238,1);
}
.Rectangle_6 {
	filter: drop-shadow(6px 6px 6px rgba(145, 192, 238, 1));
	position: absolute;
	overflow: visible;
	width: 355px;
	height: 148px;
	left: 1567px;
	top: 1787px;
}
#collge {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1099px;
	top: 1818px;
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 69px;
	text-align: center;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(112,112,112,1);
}
#lyce {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	left: 1612px;
	top: 1814px;
	position: absolute;
	overflow: visible;
	width: 254px;
	height: 75px;
	text-align: center;
	font-family: Nunito;
	font-style: normal;
	font-weight: bold;
	font-size: 50px;
	color: rgba(112,112,112,1);
}